/.vscode
/DynaminUI_ejs
/ErrorNDebugging
/Expressjs
/faltukakaam
/js
/minorProject
/mvc
/NodeServer
/node_modules
/package-lock.json
/package.json
/ParsingRequest
/postcss.config.js
/Project
/tailwind.config.js
/tailwindcss.exe
/user.txt